<div>
    <h1>
        Solicify
    </h1>
    <p>
        OTP to reset your password is <%= otp%>
    </p>
    <p>
        This email is for <span title=<%=user.email%> ><%= user.name%></span>
    </p>
</div>
