<link rel="stylesheet" href="/css/mailer/auth/signup_mailer.css">

<div>
    <h1>
        Socifly
    </h1>
    <p>
        <%=user.name%>!<br> Welcome to Socifly. <br> <a style="color:#95bdfc;" href="http://16.171.251.116:8000/v1/auth/verify-email?email=<%=user.email%>&hash=<%=hash%>"><br>Click here</a> to verify your email
    </p>
    <p>
        Please Go To the App and Login to get your Status
    </p>
</div>

