<link rel="stylesheet" href="/css/mailer/update/email_mailer.css">

<div>
    <h1>Socifly</h1>
    <p>
        <a href="http://16.171.251.116:8000/v1/auth/update-email?email=<%=user.updatedEmail%>&hash=<%=hash%>">Click Here</a><br>to update your email
    </p>
</div>


