<link rel="stylesheet" href="/css/admin_panel.css">

<div>
    <h1>
        <div class="color">COLOR</div>
        admin panel
        <a href="http://localhost:8000/uploadimage">IMage</a>
        <%- include('_image.ejs') -%>
    </h1>
</div>

<script src="/script/admin_panel.js"></script>