
body {
        background: linear-gradient(to bottom, #8b0e68, #020024);
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        height: 100vh;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    




/* Add a media query for responsiveness */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
    }
}
