<link rel="stylesheet" href="/css/admin_panel/_navbar.css">


<nav class="navbar">

<div class="container">
    
    <a href="/v1/home" class="logo">
        <img src="/images/Sociflylogo.png" alt="Socifly">
      <span class="admin">Admin Panel</span>  
    </a>
    <ul class="nav-links">
        <li id="home"><a href="/v1/author">Home</a></li>
        <li id="upload"><a href="/v1/author/upload">Upload</a></li>
        <li id="manage_user"><a href="/v1/author/manage-user">Manage Users</a></li>
        <li id="manage_admin"><a href="/v1/author/manage-admin">Manage Admin</a></li>
    </ul>
    

    
    <a href="/v1/author/signout" class="logout"> Logout</a>
</div>
</nav>

<script src="/script/admin_panel/_navbar.js"></script>
