<link rel="stylesheet" href="/css/admin_panel/_navbar.css">


<nav class="navbar">
<div class="container">
    <a href="http://localhost:8000/v1/home" class="logo">
        <img src="/images/Sociflylogo.png" alt="Socifly">
      <span class="admin">Admin Panel</span>  
    </a>
    <ul class="nav-links">
        <li id="home"><a href="http://localhost:8000/v1/home">Home</a></li>
        <li id="upload"><a href="http://localhost:8000/v1/upload">Upload</a></li>
        <li id="manage_user"><a href="http://localhost:8000/v1/manage_user">Manage Users</a></li>
        <li id="manage_admin"><a href="http://localhost:8000/v1/manage_admin">Manage Admin</a></li>
    </ul>
    

    
    <a href="#" class="logout"> Logout</a>
</div>
</nav>

<script src="/script/admin_panel/_navbar.js"></script>