<link rel="stylesheet" href="/css/admin_panel/_navbar.css">


<nav class="navbar">
<div class="container">
    <a href="#" class="logo">
        <img src="/images/Sociflylogo.png" alt="Socifly">
      <span class="admin">Admin Panel</span>  
    </a>
    <ul class="nav-links">
        <li><a href="http://localhost:8000/v1/home">Home</a></li>
        <li><a href="http://localhost:8000/v1/upload">Upload</a></li>
        <li><a href="#">Manage Users</a></li>
        <li><a href="#">Manage Admin</a></li>
    </ul>

    
    <a href="#" class="logout"> Logout</a>
</div>
</nav>