<link rel="stylesheet" href="/css/admin_panel/manage_user.css">



<%- include('_navbar.ejs') %>

    <div class="main">
        <h1>Manage Users</h1>

        <div class="searchContainer">
            <div class="searchBar">
                <form action="/v1/author/manage-user" method="post">
                    <input type="email" name="email" placeholder="Search by Email">
                    <button type="submit">Search</button>
                </form>
                </div>
                <div class="searchBar">
                <form action="/v1/author/manage-user" method="post">
                    <input type="number" name="phone" placeholder="Search by Phone">
                    <button type="submit">Search</button>
                </form>
                </div>
                <div class="searchBar">
                <form action="/v1/author/manage-user" method="post">
                    <input type="text" name="name" placeholder="Search by Name">
                    <button type="submit">Search</button>
                </form>
                </div>
                <!-- Adding Search Bar For Birthday -->
                <div class="searchBar">
                    <a href="/v1/author/manage-user?tbc=123"><button type="submit">Today's Birthday Client</button></a>
                </div>

            </form>
        </div>

        <div class="box_main">
        <%for(let el of user){%>
            <%- include('_user_box.ejs',{user:el}) -%>
            <%}%>
    </div>
    </div>