/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Set a background color and style for the body */

    body {
        background: linear-gradient(to bottom, #8b0e68, #020024);
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        /* height: 100vh; */
    }
    


/* Center the content vertically and horizontally */
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Style the paragraph */
h1 {
    font-size: 1.5rem;
    color: #b5b5b5;
    letter-spacing: 1.5px;
    text-align: center;
    max-width: 80%;
}

/* Add styles for the image above "Socifly" */
.image-container {
    height: 30vh;
    text-align: center;
}


